<div id="deleteConfirmModal" class="modal hidden">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Confirm Deletion</h3>
        </div>
        <div class="modal-body">
            <form id="deleteForm" method="post" action="">
                {% csrf_token %}
                <p>Are you sure you want to delete this patient?</p>
                <div class="modal-actions">
                    <button type="submit" class="btn-danger">Delete</button>
                    <button type="button" class="btn-cancel" onclick="closeModal('deleteConfirmModal')">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>