<div id="patientFormModal" class="modal hidden">
    <div class="modal-content">
        <div class="modal-header">
            <h3 id="modalTitle" class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <form id="patientForm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="modal-actions">
                    <button type="submit" class="btn-confirm">Save</button>
                    <button type="button" class="btn-cancel" onclick="closeModal('patientFormModal')">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>