{% extends 'base.html' %}
{% block content %}
<div class="header">
  <h2>Provider Dashboard - Carrie</h2>
</div>
<div class="header filters">
  <div>
    <label for="Diagnosis">Diagnosis</label>
    <select name="Diagnosis" id="Diagnosis">
      <option value="all">All</option>
      <option value="CHF Stage I">CHF Stage I</option>
      <option value="CHF Stage II">CHF Stage II</option>
      <option value="CHF Stage III">CHF Stage III</option>
      <option value="CHF Stage IV">CHF Stage IV</option>
      <option value="Diabetes">Diabetes</option>
      <option value="Hypertension">Hypertension</option>
    </select>
  </div>
  <div>
    <label for="Ages">Age group</label>
    <select name="Ages" id="ages">
      <option value="all">All</option>
      <option value="young">18-30</option>
      <option value="mid">31-50</option>
      <option value="older">51+</option>
    </select>
  </div>
  <div>
    <label for="startDate">Start date:</label>
    <input type="date" id="start" name="startDate" value="2018-07-15" />
  </div>
  <div>
    <label for="endDate">End date:</label>
    <input type="date" id="end" name="endDate" value="2018-07-15" />
  </div>
</div>
<div class="charts-row">
  {% include 'statusCard.html' %}
  {% include 'missedCard.html' %}
  {% include 'medicationCard.html' %}
  {% include 'dietCard.html' %}
  {% include 'exerciseCard.html' %}
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const now = new Date();
    const year = now.getFullYear();
    const month = now.getMonth(); 
    const firstDay = new Date(year, month, 1);

    const lastDay = new Date(year, month + 1, 0);

    const formatDate = (date) => {
      const m = (date.getMonth() + 1).toString().padStart(2, '0');
      const d = date.getDate().toString().padStart(2, '0');
      return `${date.getFullYear()}-${m}-${d}`;
    };

    document.getElementById('start').value = formatDate(firstDay);
    document.getElementById('end').value = formatDate(lastDay);
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}